BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Always
    AfterFunction: true
    AfterClass: false
    AfterEnum: false
SpaceAfterCStyleCast: true
