*.o
*~
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
AppInfo.xml
ChangeLog
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.lineno
configure.ac
depcomp
install-sh
intl/
libtool
locale/
ltmain.sh
m4/
missing
*.1
*.1.xml
*.spec
stamp*
Help/AUTHORS
Help/COPYING*
Help/Changes
Help/NEWS
Help/README
Help/es
Help/fr
Help/gl
Help/pt_BR
Help/ru
Help/uk
debian/deletable.files
*.mo
*.gmo
*.pot
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po4a/*.pot/old
src/roxterm
src/roxterm-config
src/rtconfig.h
src/version.h
roxterm.lsm
*.tar.gz
tony
debtmp
po4a/Makefile.am
po4a/*.xml.in
po4a/*.1.es
po4a/*.1.es.xml
po4a/*.1.fr
po4a/*.1.fr.xml
po4a/*.1.gl
po4a/*.1.gl.xml
poxml/roxterm.appdata.xml
favicon.ico
logo_text.png
roxterm_logo.png
roxterm-config.ui.stamp
*.pyc
*.pyo
build
tags
version
.ycm_extra_conf.py
.pc
debian/build-*
debian/files
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/tmp/
debian/roxterm*/
