*.o
*~
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
AppInfo.xml
ChangeLog
aclocal.m4
autom4te.cache/
compile
config.[^h]*
configure
configure.lineno
depcomp
install-sh
intl/
libtool
locale/
ltmain.sh
m4/
missing
obj-x86_64-linux-gnu/
*.1
*.1.xml
*.spec
stamp*
docs/AUTHORS
docs/COPYING*
docs/Changes
docs/NEWS
docs/README
docs/es
docs/fr
docs/gl
docs/pt_BR
docs/ru
docs/uk
*.mo
*.gmo
*.pot
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/roxterm
src/roxterm-config
src/rtconfig.h
src/version.h
roxterm.lsm
*.tar.gz
tony
debtmp
po4a/Makefile.am
po4a/*.xml.in
po4a/*.1.es
po4a/*.1.es.xml
po4a/*.1.fr
po4a/*.1.fr.xml
po4a/*.1.gl
po4a/*.1.gl.xml
po4a/*.pot.old
poxml/roxterm.appdata.xml
roxterm-config.ui.stamp
*.pyc
*.pyo
build
tags
version
.ycm_extra_conf.py
.pc
debian/build-*
debian/deletable.files
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/tmp/
debian/roxterm*/
