*.o
*~
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
AppInfo.xml
ChangeLog
INSTALL
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.lineno
configure.ac
depcomp
install-sh
intl/
libtool
locale/
ltmain.sh
m4/
missing
*.1
*.1.xml
*.spec
stamp*
Help/AUTHORS
Help/COPYING
Help/Changes
Help/NEWS
Help/README
Help/es
Help/fr
debian/changelog
debian/deletable.files
*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/roxterm.pot
po/stamp-po
src/roxterm
src/roxterm-config
src/rtconfig.h
src/version.h
roxterm.lsm
*.tar.gz
tony
debtmp
*.pot
*.po
po4a/Makefile.am
po4a/*.xml.in
po4a/*.1.es
po4a/*.1.es.xml
po4a/*.1.fr
po4a/*.1.fr.xml
favicon.ico
logo_text.png
roxterm_logo.png
