Source: roxterm
Section: x11
Priority: optional
Maintainer: Tony Houghton <h@realh.co.uk>
Build-Depends: debhelper (>= 7.0.50),
    libgtk2.0-dev (>=2.18), libvte-dev,
    libsm-dev, libdbus-glib-1-dev, xsltproc, docbook-xsl,
    python, python-lockfile, libtool
Standards-Version: 3.9.3
Homepage: http://roxterm.sourceforge.net/
Vcs-Git: git://roxterm.git.sourceforge.net/gitroot/roxterm/roxterm
Vcs-Browser: http://roxterm.git.sourceforge.net/git/gitweb.cgi?p=roxterm/roxterm;a=summary

Package: roxterm-common
Architecture: all
Depends: ${misc:Depends}
Replaces: roxterm (<< 2.0.0-1)
Breaks: roxterm (<< 2.0.0-1)
Recommends: roxterm-gtk2, openssh-client
Description: Multi-tabbed GTK+/VTE terminal emulator
 ROXTerm is a terminal emulator based on the VTE library. It was originally
 intended to be a lightweight alternative to gnome-terminal, but its role has
 shifted to providing a richer range of features for power users.
 .
 This package contains roxterm's data files.

Package: roxterm-gtk2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librsvg2-common,
    roxterm-common (= ${source:Version})
Conflicts: roxterm-gtk3
Provides: x-terminal-emulator
Description: Multi-tabbed GTK+/VTE terminal emulator
 ROXTerm is a terminal emulator based on the VTE library. It was originally
 intended to be a lightweight alternative to gnome-terminal, but its role has
 shifted to providing a richer range of features for power users.
 .
 This package provides roxterm's binaries linked with GTK+2.

Package: roxterm
Architecture: all
Depends: ${misc:Depends}, roxterm-gtk2 (>= ${source:Version})
Description: Multi-tabbed GTK+/VTE terminal emulator
 ROXTerm is a terminal emulator based on the VTE library. It was originally
 intended to be a lightweight alternative to gnome-terminal, but its role has
 shifted to providing a richer range of features for power users.
 .
 This is a virtual package to ease transition to the multi-package version.
