Source: roxterm
Section: x11
Priority: optional
Maintainer: Tony Houghton <h@realh.co.uk>
Build-Depends: debhelper (>= 7.0.50), gettext, autotools-dev,
    libgtk-3-dev, libvte-2.90-dev,
    libgtk2.0-dev (>=2.14), libvte-dev,
    libsm-dev, libdbus-glib-1-dev, xsltproc, docbook-xsl
Standards-Version: 3.9.2
Homepage: http://roxterm.sourceforge.net/
Vcs-Git: git://roxterm.git.sourceforge.net/gitroot/roxterm/roxterm
Vcs-Browser: http://roxterm.git.sourceforge.net/git/gitweb.cgi?p=roxterm/roxterm;a=summary

Package: roxterm-common
Architecture: all
Depends: ${misc:Depends}
Conflicts: roxterm (<< 2.0.0-1)
Recommends: roxterm | roxterm-legacy, openssh-client
Description: Multi-tabbed GTK/VTE terminal emulator
 ROXTerm is a terminal emulator based on the VTE library. It was originally
 intended to be a lightweight alternative to gnome-terminal, but its role has
 shifted to providing a richer range of features for power users.
 .
 This package contains files used by both the GTK2 (roxterm-legacy) and 
 GTK3 (roxterm) versions.

Package: roxterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librsvg2-common,
    roxterm-common (= ${source:Version})
Conflicts: roxterm-legacy
Provides: x-terminal-emulator
Description: Multi-tabbed GTK/VTE terminal emulator
 ROXTerm is a terminal emulator based on the VTE library. It was originally
 intended to be a lightweight alternative to gnome-terminal, but its role has
 shifted to providing a richer range of features for power users.
 .
 This package contains the GTK3 version of the binaries.

Package: roxterm-legacy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librsvg2-common,
    roxterm-common (= ${source:Version})
Conflicts: roxterm
Provides: x-terminal-emulator
Description: Multi-tabbed GTK/VTE terminal emulator
 ROXTerm is a terminal emulator based on the VTE library. It was originally
 intended to be a lightweight alternative to gnome-terminal, but its role has
 shifted to providing a richer range of features for power users.
 .
 This package contains the GTK2 version of the binaries.
