#!/usr/bin/make -f

# Split this up a bit to avoid long lines
CONFIGURE_GDA_PATH = /usr/share/gnome-control-center/default-apps
CONFIGURE_GDA = --with-gnome-default-applications=$(CONFIGURE_GDA_PATH)
CONFIGURE_COMMON = $(CONFIGURE_GDA) CFLAGS="-Wl,--as-needed -Wall"

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-gtk3 $(CONFIGURE_COMMON)

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install
	dh_install -proxterm-common debian/roxterm.xpm usr/share/pixmaps/
